#seesea-pickdate {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#seesea-pickdate .prev {
    height: 100%;
    width: 20%;
    cursor: pointer;
    outline: none;
}

#seesea-pickdate .next {
    height: 100%;
    width: 20%;
    cursor: pointer;
    outline: none;
}

#seesea-pickdate .input {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #67758D;
    cursor: pointer;
    box-sizing: border-box;
}

#seesea-pickdate .input:focus {
    outline: none;
}

#seesea-pickdate .arrow {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    border-top: solid 1px #97A4BA;
    border-right: solid 1px #97A4BA;
}

#seesea-pickdate .arrow.left {
    top: 15px;
    left: 9px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#seesea-pickdate .arrow.right {
    top: 15px;
    left: 2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}